.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell img {
  width: 55px;
  height: 55px;
  position: relative;
}

.black-bg {
  background-color: rgb(118, 150, 86);
}
.white-bg {
  background-color: rgb(238, 238, 210);
}
