.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.black-bg {
  background-color: rgb(118, 150, 86);
}
.white-bg {
  background-color: rgb(238, 238, 210);
}
