.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.header {
  padding: 2rem;
  background-color: #716040;
  color: #fffffe;
  margin-bottom: 3rem;
}
